* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: #ffffff;
    background: #5800db;
}
  
::selection {
    color: #ffffff;
    background: #5800db;
}

body {
    height: 100%;
    font-family: 'Anonymous Pro', monospace;
    background-color: #75726b;
}

.child {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

header h1 {
    color: #d4d4d4;
    margin: 1rem;
    text-align: center;
}

label, h1, p, span, button, a, h2 {
    color: #d4d4d4;
}

a:hover {
    transition: .2s;
    text-decoration: none;
    color: #ffffff;
}

footer {
    bottom: 0;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #6e6e6e;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.button1:hover{
    color: #ffffff;
    background-color: #6e6e6e;
}

@media all and (max-width: 30em){
    .button1 {
        display: block;
        margin: 0.4em auto;
        color: #000000;
        text-align: center;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
    }
}
